body {
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    font-family: 'Roboto', sans-serif;
    background-color: #00163b;
    color: white;
    top: 0;
    width: 100vw;
    height: 12vh;
}

header > * {
    position: relative;
    top: 3.5vh;
    left: 3.5vh;
}

header > h1 {
    display: inline;
    margin-right: 73vw !important;
}


section {
    text-align: justify;
    text-align-last: center;
    margin-top: 12vh;
    padding-top: 3vh;
    height: 500px;
}

section > article  {
    margin: 5%;
}

br {
    line-height:28px;
}
