<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <title>FreeGame Tracker</title>
    </head>
    <body>
        <header>
            <h1>FreeGames Tracker</h1>
            <a class="github-button" href="https://github.com/0v3rl0w/FreeGameTracker-Backend" data-size="large" data-show-count="true" aria-label="Star 0v3rl0w/FreeGameTracker-Backend on GitHub">Star</a>
        </header>
        <section>
            <article>
                <h2>Introduction</h2>
                <p>Hey, you like getting your hands on AAA games for free ? So do I !<br />
                    Because you are lazy like me, you'll use that little script that requires<br />
                    no installation what however, the only think you have to do is allowing<br />
                    us to send you notifications !</p>
            </article>
        </section>
    </body>
</html>
